.font-alta {
    font-family: 'Alata', sans-serif;
}

.font-josphins {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1300px;
    padding: 0 5%;
}

#chk-mob-menu:checked ~ #menu {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
}

#chk-mob-menu:checked ~ ul li.hide-menu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 8% 25% 8%;
}

#chk-mob-menu:checked ~ ul li {
    display: flex;
    align-items: start;
    font-size: 25px;
    padding: 5% 8%;
}

#chk-mob-menu:checked ~ .show-menu-btn {
    display: none;
}

.gallery-item:hover img {
    opacity: 0.4;
}
ul li:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid #fff;
}
